@model List< MyAnnonser.Models.Ads>


{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@using (Html.BeginForm("Search", "ParkedVehicles", FormMethod.Post))
{
    @Html.TextBox("search")

    <input type="submit" value="Search" />
}*@


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model[0].AdHeadline)
        </th>


        <th>
            @Html.DisplayNameFor(model => model[0].AdText)
        </th>


        <th>
            @Html.ActionLink("RegNum", "Index", new { sortOrder = "Descending" })
        </th>

        <th>



        <th>
            @Html.DisplayNameFor(model => model[0].AdName)
        </th>


        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AdHeadline)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.AdText)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AdName)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AdId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AdId }) |
                @Html.ActionLink("check out", "Delete", new { id = item.AdId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>